@Blue: #1890ff;
@BlueActive: #096dd9;
@BlueHover: #40a9ff;
@White: #fff;
@WhiteActive: #e6f7ff;
@Gray: #d9d9d9;
@Red: #f5222d;
@RedActive: #cf1322;
@RedHover: #ff4d4f;
@Green: #52c41a;
@GreenActive: #389e0d;
@GreenHover: #73d13d;
@Disabled: #eee;
@BorderColor: #DADEE0;
@FontColor:#475466;
@AlertBackground: #fdf6ec;
@AlertBorder: #faecd8;
@AlertText: #e6a23c;
@SuccessBorder: #e1f3d8;
@SuccessBackground: #f0f9eb;
@SuccessText: #67c23a;
@ErrorBackground: #fef0f0;
@ErrorBorder: #fde2e2;
@ErrorText: #f56c6c;